<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="addingresponsiveimages" appconnect="local" src="/assets/images/istockphoto-936520132-612x612.jpeg" -->
<meta name="ac:route" content="/adding-responsive-images">
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/assets/images/istockphoto-936520132-612x612.jpeg" class="img-fluid">
        </div>
    </div>
</div>
<main class="border-primary">
</main>