<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="addingresponsiveimages" appconnect="local" src="/assets/images/istockphoto-936520132-612x612.jpeg" -->
<meta name="ac:route" content="/adding-responsive-images">
<div class="container">
  <div class="row">
    <div class="col">
      <img src="/assets/images/istockphoto-936520132-612x612.jpeg" class="img-fluid">
    </div>
  </div>
</div>
<main class="border-primary mt-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>