<!-- Wappler include head-page="layouts/main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="APIandJson" appConnect="local" -->
<meta name="ac:route" content="/API-and-Json">
<dmx-json-datasource id="jsonDS1" is="dmx-serverconnect"></dmx-json-datasource>
<div class="container">
    <div class="row" is="dmx-repeat" id="repeat1"></div>
</div>