<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="Confirm" appConnect="local" components="{dmxBootbox5:{},dmxSummernote:{}}" -->
<meta name="ac:route" content="/Confirm">
<main>
  <div class="container">
    <div class="row">
      <div class="col mt-5">
        <form id="form1">
          <textarea id="editor1" name="editor1" is="dmx-summernote" dmx-bind:toolbar="[['style',['style']],['font',['bold','underline','clear']],['fontname',['fontname']],['color',['color']],['para',['ul','ol','paragraph']],['table',['table']],['insert',['link','picture','video']],['view',['fullscreen','codeview','help']],['mytoolbar',['undo','redo']]]" placeholder="please enter your text here" theme="bootstrap4" min-height="400" max-height="600"></textarea>
        </form>

      </div>
    </div>
  </div>
</main>