<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="cookies" appConnect="local" components="{dmxStateManagement:{},dmxBootstrap5Modal:{}}" -->
<meta name="ac:route" content="/cookies">
<dmx-cookie-manager id="cookies1"></dmx-cookie-manager>
<div class="modal" id="modal1" is="dmx-bs5-modal" tabindex="-1" dmx-show="cookies1.data.octa!=1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="container wappler-block p-5">
    <div class="row text-center p-5">
        <div class="col">
            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="#51c42b" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
            <h1 class="mt-4">Fancy display heading</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum enim nesciunt vel minus
                assumenda cumque
                neque voluptate quidem ea reprehenderit doloremque ut nulla ex, eius aut non sunt rem minima.</p>
            <a class="btn btn-primary" dmx-on:click="cookies1.set('octa',1,{expires: 60});modal1.hide()">Button</a>
        </div>
    </div>
</div>