<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="currentdateandtime" appConnect="local" components="{dmxDatePicker:{},dmxFormatter:{}}" moment_2="cdn" -->
<dmx-datetime id="var1"></dmx-datetime>


<meta name="ac:route" content="/current-date-and-time">
<div class="container">
    <div class="row">
        <div class="col">
            <form id="form1">
                <div class="form-group mb-3">
                    <label for="input1" class="form-label">Some text</label>
                    <input is="dmx-date-range-picker" showdropdowns="true" type="text" dmx-bind:maxyear="var1.datetime.addYears(-5).formatDate('yyyy')">
                    <small id="input1_help" class="form-text text-muted">Your input is very valuable.</small>
                </div>
            </form>
        </div>
    </div>

</div>