<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="cdn" jquery_slim_33="cdn" is="dmx-app" id="FontAwsome" appConnect="local" -->
<main>
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <a href="#" class="btn text-light bg-primary">Anchor Button&nbsp;<i class="fa fa-user">&nbsp;</i></a>
            </div>
        </div>
        <p><i class="fa fa-film"></i>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Here</p>
    </div>
</main>
<section>
    <h1>Fancy display heading<i class="fa fa-signal"></i></h1>
</section>