<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="lazyloadimage" appConnect="local" components="{dmxLazyLoad:{}}" -->
<meta name="ac:route" content="/lazy-load-image">
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/assets/images/s.jpeg" class="img-fluid" dmx-lazyload="" data-src="/assets/images/s.jpeg">
        </div>
    </div>
</div>