<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="NestedRepeatRegions" appConnect="local" -->
<meta name="ac:route" content="/Nested-Repeat-Regions">
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Fancy display heading</h1>
            </div>
        </div>
    </div>
</main>