<!-- Wappler include head-page="layouts/main" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="Newproject" appConnect="local" components="{dmxBootstrap5Navigation:{},dmxAnimateCSS:{},dmxLightbox:{},dmxSlideshow:{},dmxSlideshow3DTransitions:{},dmxPreloader:{},dmxBootstrap5Offcanvas:{},dmxTyped:{},dmxStateManagement:{},dmxBrowser:{},dmxFormatter:{},dmxBootstrap5Alert:{},dmxNotifications:{},dmxTagify:{},dmxSmoothScroll:{},dmxDatastore:{}}" -->
<dmx-value id="octa" dmx-bind:value="'Ankit'"></dmx-value>
<dmx-notifications id="notifies1" info-color="white" info-background="#00ff5d" offset-x="18"></dmx-notifications>
<div is="dmx-browser" id="browser1"></div>
<dmx-session-manager id="session1"></dmx-session-manager>
<dmx-toggle id="toggle1"></dmx-toggle>
<dmx-preloader id="preloader1" spinner="rotatingPlane" bgcolor="#9B24F4" color="#FFFFFF"></dmx-preloader>
<dmx-lightbox id="lightbox1"></dmx-lightbox>
<meta name="ac:route" content="/New-project">
<main>
    <div class="container-fluid bg-info style34">
        <header class="bg-primary style32 sticky-top">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nav class="navbar navbar-expand-lg bg-primary sticky-top justify-content-between align-items-center text-center ms-0">
                            <a class="navbar-brand ms-auto me-auto pt-1 ps-3 pe-3 style20 h-auto  w-25 " href="#">ADROIT-<i class="fa fa-user">&nbsp;</i></a>
                            <button class="navbar-toggler style43" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1_collapse" aria-controls="navbar1_collapse" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-around w-auto" id="navbar1_collapse">
                                <div class="navbar-nav">
                                    <a class="nav-item nav-link text-light style41" href="#">Home</a>
                                    <a class="nav-item nav-link text-light style41" href="#">About</a>
                                    <a class="nav-item nav-link text-light style41" href="#">Contact</a>
                                </div>
                            </div>
                            <div class="navbar-nav justify-content-end d-none d-lg-flex ms-md-auto">
                                <a class="nav-item nav-link" href="#"><i class="fa fa-slack"></i></a>
                                <a class="nav-item nav-link" href="#"><i class="fa fa-twitter"></i></a>
                                <a class="nav-item nav-link" href="#"><button id="btn1" class="btn text-light btn-outline-danger" dmx-on:click="offcanvas1.show()">Offcanvas</button>
                                    <i class="fa fa-facebook"></i></a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="col-12">
                <h2 class="mt-2 text-center text-white bg-dark">Animations</h2>
            </div>
            <div class="row" dmx-animate-leave.duration:800.delay:20="zoomOutUp">
                <div class="col-4">
                    <div class="card h-100 ms-2" dmx-animate-enter.duration:800.delay:50="slideInLeft">
                        <img class="card-img-top" src="/assets/images/s.jpeg">
                        <div class="card-body card-group">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card h-100" dmx-animate-enter.duration:800.delay:20="fadeInUp">
                        <img class="card-img-top" src="/assets/images/istockphoto-936520132-612x612.jpeg">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card h-100 flex-shrink-1" dmx-animate-enter="slideInRight">
                        <img class="card-img-top" src="/assets/images/s.jpeg">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="mt-2 text-center text-white bg-dark">Light-box</h2>
            <div class="row">
                <div class="col-9 align-self-end style21 ms-0">
                    <a href="/assets/images/s.jpeg" dmx-lightbox="">
                        <img src="/assets/images/s.jpeg" class="style22" dmx-animate-enter="fadeInDown" dmx-animate-leave="slideOutUp" dmx-animate-move="ease-out">
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="mt-2 text-center text-white bg-dark">Slide-Show</h2>
            <div class="row">
                <div class="col-9 ms-0 style23 border-1 border-primary rounded-1 rounded mh-100 placeholder-glow bg-info">
                    <dmx-slideshow id="slideshow1" show-paging="true">
                        <dmx-slide url="assets/images/thumbnail-1.jpg" thumb="assets/images/thumbs/thumbnail-1.png" title="thumbnail 1"></dmx-slide>
                        <dmx-slide url="assets/images/thumbnail-2.jpg" thumb="assets/images/thumbs/thumbnail-2.png" title="thumbnail 2"></dmx-slide>
                    </dmx-slideshow>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="text-center text-white bg-dark mt-5 style26">Swiper</h2>
            <div class="row">

                <div class="col-8 style31">
                    <dmx-slideshow id="slideshow13" show-nav="true" class="style25">
                        <dmx-slide id="slide1" url="/assets/images/istockphoto-936520132-612x612.jpeg"></dmx-slide>
                        <dmx-slide url="/assets/images/s.jpeg" thumb="assets/images/s/thumbs/istockphoto-936520132-612x612.png"></dmx-slide>
                    </dmx-slideshow>
                </div>

            </div>
        </div>
        <div class="container">
            <h2 class="text-center text-white bg-dark mt-5">Typing Animations</h2>
            <div class="row">
                <div class="col">
                    <div class="offcanvas offcanvas-end" id="offcanvas1" is="dmx-bs5-offcanvas" tabindex="-1">
                        <div class="offcanvas-header text-warning bg-warning">
                            <h5 class="offcanvas-title text-dark">Offcanvas title</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body text-light bg-dark">
                            <p>Offcanvas body text goes here.</p>
                        </div>
                    </div>

                    <div class="col">
                        <h1 class="style27 text-white fw-bolder">Hi :&nbsp;<span is="dmx-typed" strings="Octa,Ankit" smart-backspace="true" loop="true" fade="true" speed="80" back-speed="10">Octa</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="text-center text-white bg-dark mt-5">Toggle</h2>
            <div class="col">
                <div class="col">
                    <button id="btn2" class="btn style28 btn-outline-info bg-success w-25 text-white mt-5" dmx-on:click.start="preloader1.show(); toggle1.toggle()" dmx-on:click.done="preloader1.hide()">Button</button>
                    <div class="card" dmx-show="toggle1.checked">
                        <div class="card-header" dmx-animate-enter="fadeInDown" dmx-animate-move="">
                            Featured
                        </div>
                        <div class="card-body" dmx-animate-enter="lightSpeedIn">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2 class="text-center text-white bg-dark mt-5 mb-2 pb-2">Passing values</h2>
            <div class="row">
                <div class="col mb-4">
                    <form id="form1">
                        <div class="form-group md-3 text-dark"><span class="text-dark style42">Pass values</span><br><input type="text" class="form-control mt-2 style36" id="input1" name="input1" aria-describedby="input1_help" placeholder="Enter some text">
                            <button id="btn3" class="btn btn-outline-success mt-2" dmx-on:click="session1.set('third',input1.value);browser1.goto('/page21');btn3.setValue()">
                                Button</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="text-center text-white bg-dark mt-0 mb-2 pb-2">Show and Hide</h2>

            <div class="row">
                <div class="col ">
                    <div class="form-group mb-3">
                        <label for="input2" class="form-label style38 ps-2 pe-2">Enter your value</label>
                        <input type="text" class="form-control" id="input2" name="input2" aria-describedby="input2_help" placeholder="Enter some value">
                    </div>
                    <div class="card mb-3" dmx-show="(input2.value == 2)">
                        <div class="card-body mb-0">
                            <h4 class="card-title">Here is your value</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <h2 class="text-center text-white bg-dark mt-0 mb-2 pb-2">Notifications</h2>

        </div>

        <div class="container">
            <form id="form2">
                <div class="form-group md-3"> <label for="input3" class="form-label style44">Get Notifications</label>
                    <input type="text" class="form-control" id="input3" name="input3" aria-describedby="input3_help" placeholder="Enter some text" dropdown-position="text">
                    <button id="btn4" class="btn mt-1 mb-1 btn-warning text-white bg-dark" dmx-on:click.prevent="notifies1.success(input3.value+' Here is your Notifications')" type="submit">Button</button>
                </div>
            </form>

        </div>
        <div class="container">
            <h2 class="text-center text-white bg-dark mt-0 mb-2 pb-2">Overlay text on image</h2>

        </div>
        <div class="container">
            <img src="/assets/images/s.jpeg">
            <h1 class="style45" dmx-animate-enter.duration:60="heartBeat">This is&nbsp;<span is="dmx-typed" strings="Overlay text,Adroit Infosol" speed="80" loop="true"></span>
            </h1>


        </div>



        <footer class="wappler-block mt-auto">
            <div class="container-fluid style35">
                <div class="row">
                    <div class="col">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
                            <div class="container-fluid bg-primary mt-0 pt-1 pb-1">
                                <span class="navbar-text p-2 d-none d-sm-block d-md-block small bg-primary text-light fw-bold"><i class="fa fa-map-marker"></i> 1234 Street Name, City Name</span>
                                <span class="navbar-text p-2 small bg-primary text-white fw-bold"><i class="fa fa-phone"></i> (800) 123-4567</span>
                                <span class="navbar-text p-2 d-none d-sm-block d-md-block small text-light fw-bold"><i class="fa fa-envelope"></i> mail@example.com</span>
                                <span class="navbar-text p-2 d-none d-sm-block d-md-block small ms-auto bg-primary text-white fw-bold">© Copyright 2019. All Rights Reserved.
                                </span>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>




    </div>
</main>