<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="parralx" appConnect="local" components="{dmxImageParallax:{}}" -->
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/assets/images/s.jpeg" dmx-image-parallax.overflow="down left">
            <img src="/assets/images/s.jpeg" dmx-image-parallax.overflow="up right">
            <img src="/assets/images/s.jpeg" dmx-image-parallax.overflow="down left">
            <img src="/assets/images/s.jpeg" dmx-image-parallax.overflow="up left">
        </div>
    </div>
</div>
<meta name="ac:route" content="/parralx">