<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="ResponsiveSlideshow" appConnect="local" components="{dmxSlideshow:{},dmxSlideshow3DTransitions:{}}" -->
<meta name="ac:route" content="/Responsive-Slideshow">
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <dmx-slideshow id="slideshow1" show-nav="true">
                    <dmx-slide id="slide1" url="/assets/images/istockphoto-936520132-612x612.jpeg" title="1"></dmx-slide>
                    <dmx-slide url="/assets/images/s.jpeg" thumb="assets/images/s/thumbs/istockphoto-936520132-612x612.png" title="2"></dmx-slide>
                </dmx-slideshow>
                <dmx-slideshow id="slideshow2" transition:blinds3d="" show-paging="true">
                    <dmx-slide id="slide2" url="/assets/images/istockphoto-936520132-612x612.jpeg" title="Slide Title"></dmx-slide>
                    <dmx-slide url="assets/images/s/istockphoto-936520132-612x612.jpg" thumb="assets/images/s/thumbs/istockphoto-936520132-612x612.png" title="istockphoto 936520132 612x612"></dmx-slide>
                </dmx-slideshow>
            </div>
        </div>
    </div>
</main>