<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="responsivevideo" appConnect="local" components="{dmxVideo:{},dmxBackgroundVideo:{},dmxTyped:{}}" -->
<meta name="ac:route" content="/responsive-video">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Heading</h1>
            <video is="dmx-video" id="video1" src="/assets/images/2542703419.mp4" autoplay="true" loop="true">
                <h1 class="text-light">Heading<span is="dmx-typed" strings="Hi octa,Hi kj"></span>
                </h1>
                <h1 style="color: white;" class="text-light">Hello Adroit</h1>
            </video>
            <div class="row">
                <div class="col">
                    <h1>Heading
                        <span is="dmx-typed" strings="hello i m here" speed="100" delay="800" back-speed="40" smart-backspace="true" loop="true"></span>
                    </h1>
                </div>
                <div class="col-10">
                    <h1 class="bg-secondary text-warning ps-xxl-2">Hello..<span is="dmx-typed" strings="OCTA,ADROIT" speed="100" delay="800" back-speed="40" loop="true" shuffle="true"></span>
                    </h1>
                </div>
                <div class="col">
                    <div is="dmx-background-video" id="bgvideo1" src="/assets/images/2542703419.mp4" class="style8"></div>
                </div>
            </div>
        </div>
    </div>
</div>