<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="Shopping" appConnect="local" components="{dmxFormRepeat:{}}" -->
<meta name="ac:route" content="/Shopping">
<section class="pt-4">
    <div class="container">
        <div class="row pt-4" is="dmx-repeat" id="repeat1" dmx-bind:repeat="data_view1.data" key="ListingID">
            <div class="col-12 col-md-6 col-lg-4 mb-4" dmx-animate-move.duration:400="" dmx-animate-enter.duration:400.delay:100="fadeIn">
                <div class="card">
                    <div class="card-header" dmx-text="Title">New York</div>
                    <img class="card-img-top" alt="Property Image" dmx-bind:src="Photo">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark text-light" dmx-text="Price.formatCurrency(&quot;$&quot;, &quot;.&quot;, &quot;,&quot;, 0)"></li>
                    </ul>
                    <div class="card-body py-2">
                        <div class="d-flex">
                            <div class="d-block font-weight-bold p-1">Beds:</div>
                            <div class="d-block p-1" dmx-text="Beds">3</div>
                            <div class="d-block font-weight-bold p-1">Baths:</div>
                            <div class="d-block p-1" dmx-text="Baths">2</div>
                            <div class="d-block font-weight-bold p-1">Year:</div>
                            <div class="d-block p-1" dmx-text="YearBuilt">2000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>