<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="Tagify" appConnect="local" components="{dmxTagify:{}}" -->
<meta name="ac:route" content="/Tagify">
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <form id="form1">
                    <input id="text1" name="text1" type="text" class="form-control mt-5" is="dmx-tagify" dmx-bind:data="selectedText+'India'" tag-text="'Australia'" tag-secondary="'Pakistan'" tag-value="'Bangladesh'" mode="select">
                </form>
            </div>
        </div>
    </div>
</main>