<!-- Wappler include head-page="layouts/octa" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Dynamicmenu" appConnect="local" -->
<meta name="ac:route" content="/Dynamic-menu">
<dmx-serverconnect id="serverconnect1" url="/api/octarecords"></dmx-serverconnect>
<div class="container">
    <div class="row">
        <div class="col">
            <form id="form1">
                <select id="select1" class="form-select" optionvalue="id" optiontext="name+age" dmx-bind:options="serverconnect1.data.query">
                </select>
            </form>
        </div>
    </div>
</div>