<!-- Wappler include head-page="layouts/main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="responsivenavbar" appConnect="local" components="{dmxBootstrap5Navigation:{},dmxMasonry:{}}" -->
<meta name="ac:route" content="/responsive-navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
        <a class="navbar-brand text-warning" href="#">OCTA&nbsp;<i class="fa fa-inbox">&nbsp;</i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-controls="collapse1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="collapse1" class="collapse navbar-collapse">
            <div class="navbar-nav ms-auto w-25">
                <a class="nav-item nav-link text-warning" href="#">Link</a>
                <a class="nav-item nav-link text-warning" href="#">Link</a>
                <a class="nav-item nav-link text-warning" href="#">Link</a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-warning" data-bs-toggle="dropdown" href="#" id="dropdown1" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown1">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="row row-cols-lg-6" is="dmx-masonry" id="masonry1" dmx-bind:repeat="1" animated="true" columns="1" columns-sm="2" columns-md="3" columns-lg="4" columns-xl="4" gutter="10">
    <div class="col col-lg-6 ms-lg-0 me-lg-4">
        <img src="/assets/images/istockphoto-936520132-612x612.jpeg">
    </div>
    <div class="col col-lg-6">
        <img src="/assets/images/istockphoto-936520132-612x612.jpeg">
    </div>
    <div class="col col-lg-6">
        <img src="/assets/images/istockphoto-936520132-612x612.jpeg">
    </div>
    <div class="col col-lg-6">
        <img src="/assets/images/istockphoto-936520132-612x612.jpeg">
    </div>
</div>
<div class="row row-cols-lg-6">
    <div class="col col-lg-4">
        <img src="/assets/images/istockphoto-936520132-612x612.jpeg">
    </div>
    <div class="col col-lg-4">
        <img src="/assets/images/istockphoto-936520132-612x612.jpeg">
    </div>
    <div class="col col-lg-4">
        <img src="/assets/images/istockphoto-936520132-612x612.jpeg">
    </div>
    <div class="col col-lg-6">
        <img src="/assets/images/istockphoto-936520132-612x612.jpeg">
    </div>
    <div class="col col-lg-6">
        <img src="/assets/images/istockphoto-936520132-612x612.jpeg">
    </div>
</div>