<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="AddingTransitionstopageelements" appConnect="local" -->
<meta name="ac:route" content="/Adding-Transitions-to-page-elements">
<main>
    <div class="container">
        <div class="row">
            <div class="col-7 d-flex justify-content-center">
                <div class="card bg-dark text-white align-self-start mt-3 ms-5">
                    <img class="card-img" src="/assets/images/s.jpeg" width="50px">
                    <div class="card-img-overlay text-start ms-0 style9">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>