<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="arrays" appConnect="local" -->
<dmx-array id="arr1"></dmx-array>
<meta name="ac:route" content="/arrays">
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <button id="btn1" class="btn text-light bg-primary mt-2 mb-2">Button</button>
                <input id="tags" name="tags" type="text" class="form-control" dmx-on:keypress.enter="arr1.addUniq(value);tags.setValue('\'\'')">
                <div id="repeat1" is="dmx-repeat" dmx-bind:repeat="arr1.items" dmx-text="$value" dmx-on:click="arr1.removeAt($index)">
                    <button id="btn2" class="btn mt-2 bg-info text-white" dmx-on:click="arr1.removeAt($index)" dmx-text="$value">Button</button>
                </div>
            </div>
        </div>
    </div>
</main>