<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="Dynamicattributes" appConnect="local" -->
<meta name="ac:route" content="/Dynamicattributes">
<div class="container">
    <div class="row">
        <div class="col-12 mt-2">
        </div>
        <div class="col mt-2">
            <a href="#https://example.com/summer-sale" class="btn bg-primary text-light" dmx-bind:href="'https://example.com'">Anchor Button</a>
            <hr>
            <h1>Show and Hide</h1>
            <hr>


        </div>
    </div>
</div>