<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="Formandvalidation" appconnect="local" class="style51" components="{dmxValidator:{},dmxAnimateCSS:{},dmxNotifications:{},dmxFormatter:{},dmxTyped:{},dmxBrowser:{},dmxPreloader:{},dmxBootstrap5Tooltips:{},dmxBootstrap5Popovers:{}}" -->
<dmx-value id="steps" dmx-bind:value="1"></dmx-value>
<dmx-toggle id="toggle1"></dmx-toggle>

<dmx-preloader id="preloader1" spinner="wave" color="#FF0099" bgcolor="#351C75"></dmx-preloader>
<dmx-notifications id="notifies2" position="bottom" dmx-show="toggle1.checked&amp;&amp;(register1.inp_company.value !=='')&amp;&amp;(register1.inp_email.value !=='')&amp;&amp;(register1.inp_password.value !=='')&amp;&amp;(register1.inp_password2.value !=='')&amp;&amp;(!register1.bs5checkbox.checked)" show-animation="rollIn"></dmx-notifications>
<dmx-notifications id="notifies3" show-animation="fadeInLeft"></dmx-notifications>
<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="Formandvalidation" appconnect="local" class="style51" components="{dmxValidator:{},dmxAnimateCSS:{},dmxNotifications:{},dmxFormatter:{},dmxTyped:{}}" -->
<dmx-notifications id="notifies1" dmx-show="(register1.inp_company.value =='')+(register1.inp_email.value =='')+(register1.inp_password.value == '')+(register1.bs5checkbox.value =='')" danger-icon="fa fa-warning bg-primary" position="bottom" show-animation="swing" opacity="" newest-on-top="true" closable="true" class="style53"></dmx-notifications>
<meta name="ac:route" content="/Form-and-validation">
<main>
    <div class="container border-1">
        <form id="register1">
            <div class="row justify-content-center style49">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6 border-3 rounded bg-light style50 lh-lg shadow-lg mt-5 pt-2 pb-2 rounded-2 border-dark" dmx-animate-enter.delay:1="bounceInDown">
                    <div class="row">
                        <div class="col text-center">
                            <h1 class="style48 fw-bolder text-white bg-danger">Form Validation</h1>
                            <p class="text-h3 fw-bold text-dark initialism text-uppercase">
                                <span is="dmx-typed" strings="Enter your registration details below.,Enter your registration details below." speed="40" loop="true"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col mt-4">
                            <input type="text" id="inp_company" name="company" class="form-control" placeholder="Company Name" required="" data-rule-alphanumeric="">
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input type="email" id="inp_email" name="email" class="form-control" placeholder="Email" required="" data-rule-email="">
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input type="number" id="inp_password" name="age" class="form-control style46" placeholder="Enter Age" required="" max="15" data-rule-max="15">
                        </div>
                        <div class="col-6">
                            <input type="password" id="inp_password2" name="password2" class="form-control" placeholder="Password" required="" data-rule-nowhitespace="">
                        </div>
                    </div>
                    <div class="row justify-content-start mt-4">
                        <div class="col">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input mt-2" required="" data-rule-minitems="4" data-msg-minitems="Please select at least {4} items.">
                                    I Read and Accept <a href="#">Terms and Conditions</a>
                                </label>
                            </div>
                            <button id="register1_submit" class="btn mt-4 style47 bg-primary text-white lead text-uppercase fw-bold" dmx-on:click.prevent="notifies1.warning('Fill all fields');notifies2.info('Details Added  ');register1_submit.focus();notifies4.danger('hi');toggle1.check()" type="submit">SUBMIT</button>
                            <button id="register1_submit1" class="btn mt-4 style47 lead text-uppercase text-white fw-bolder bg-dark" type="reset" dmx-on:click="toggle1.uncheck();notifies3.success('Fields Reset')">RESET</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<hr>
<div class="container mt-4" dmx-animate-enter.delay:2="zoomInDown">
    <table class="table table-dark table-bordered border-success bg-dark" id="myTable" dmx-show="(toggle1.checked)&amp;&amp;(register1.inp_company.value !='')&amp;&amp;(register1.inp_password.value !='')&amp;&amp;(register1.inp_email.value !='')&amp;&amp;(register1.inp_password2.value !='')&amp;&amp;(register1.bs5checkbox.value!== '')" dmx-animate-enter="fadeInUp" dmx-animate-leave="zoomOutRight">
        <thead class="table-danger">
            <tr>
                <th>Company name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{register1.inp_company.value}}</td>
                <td>{{register1.inp_email.value}}</td>
                <td>{{register1.inp_password.value}}</td>
            </tr>
        </tbody>
    </table>
    <h1 class="bg-success text-light text-center text-uppercase fw-light lh-sm shadow">Multi Steps Forms</h1>
    <div class="container mt-3">
        <form id="form1">
            <p>Step {{steps.value}}of 3</p>
            <div class="row" dmx-show="steps.value==1">
                <div class="col">
                    <div class="form-group mb-3">
                        <label for="input1" class="form-label">Some text</label>
                        <input type="text" class="form-control" id="input1" name="input1" aria-describedby="input1_help" placeholder="Enter some text">
                    </div>
                    <button id="btn1" class="btn btn-info" dmx-on:click="steps.setValue(steps.value+1)" dmx-bind:disabled="!input1.value">NEXT</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <form id="form2">
                    <div class="form-group mb-3">
                        <label for="input2" class="form-label">Some text</label>
                        <input type="text" class="form-control" id="input2" name="input2" aria-describedby="input2_help" placeholder="Enter some text">
                        <button id="btn3" class="btn btn-success" dmx-on:click="steps.setValue(steps.value-1)">Previous</button>
                        <button id="btn56" class="btn btn-info" dmx-on:click="steps.setValue(steps.value+1)" dmx-bind:disabled="!input2.value">NEXT</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <form id="form3">
                    <div class="form-group mb-3">
                        <label for="input3" class="form-label">Some text</label>
                        <input type="text" class="form-control" id="input3" name="input3" aria-describedby="input3_help" placeholder="Enter some text">
                        <button id="btn34" class="btn btn-success" dmx-on:click="steps.setValue(steps.value-1)">Previous</button>
                        <button id="btn4" class="btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>




    </div>
</div>