<!-- Wappler include head-page="layouts/my-main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Guides" appConnect="local" components="{dmxBootstrap5Alert:{}}" -->
<meta name="ac:route" content="/Guides">
<main>
    <button id="btn1" class="btn text-light bg-primary w-25 mt-5 ms-5 text-center">Button<span class="badge badge-light">NEW</span></button>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mt-3">
                    <div class="card-body mt-4">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text" title="Hi">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <h1></h1>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <button class="btn btn-primary">Click</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="alert" id="alert1" is="dmx-bs5-alert" role="alertdialog">
    <p>This is a nice alert!</p>
    <link title="octs">
</div>