<!-- Wappler include head-page="layouts/main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="index" appConnect="local" -->
<meta name="ac:route" content="/">
<form id="form1">
    <div class="form-group md-3"> <label for="input1" class="form-label">Some text</label>
        <input type="text" class="form-control" id="input1" name="input1" aria-describedby="input1_help" placeholder="Enter some text">
        <small id="input1_help" class="form-text text-muted">Your input is very valuable.</small>
    </div>
</form>