<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="Lighbox" appConnect="local" components="{dmxLightbox:{}}" -->
<meta name="ac:route" content="/Ligh-box">
<dmx-lightbox id="lightbox1"></dmx-lightbox>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/assets/images/istockphoto-936520132-612x612.jpeg" dmx-lightbox=""><img src="/assets/images/istockphoto-936520132-612x612.jpeg"></a>
        </div>
    </div>
</div>