<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="SwiperBasicOptions" appConnect="local" components="{dmxSwiper:{}}" -->
<meta name="ac:route" content="/SwiperBasicOptions">
<div class="container">
    <div class="row">
        <div class="col">
            <div is="dmx-swiper" id="swiper1" effect="coverflow" grab-cursor="true" loop="true" speed="600" pagination="bullets" navigation="true" style="--swiper-pagination-color:#000; --swiper-theme-color:#000;">
                <div class="swiper-slide">
                    <img src="/assets/images/s.jpeg">
                </div>
                <div class="swiper-slide">
                    <img src="/assets/images/s.jpeg">
                </div>
                <div class="swiper-slide">
                    <img src="/assets/images/s.jpeg">
                </div>
            </div>
            <div is="dmx-swiper" id="swiper2" effect="coverflow" grab-cursor="true" loop="true" speed="600" pagination="bullets" navigation="true" style="--swiper-pagination-color:#000; --swiper-theme-color:#000;">
                <div class="swiper-slide style7">
                </div>
            </div>
        </div>
    </div>
</div>