<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="index" appconnect="local" -->
<meta name="ac:route" content="/URL-parameters">
<main>
    <div class="jumbotron">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.<i class="fa fa-music"></i></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button" dmx-on:click="">Learn more</a>
        </p>
    </div>
</main>