<!-- Wappler include head-page="layouts/my-main" bootstrap5="local" fontawesome_4="local" jquery_slim_33="cdn" is="dmx-app" id="UsingtheDateRangePickerwithInsertandUpdateRecord" appConnect="local" components="{dmxDatePicker:{}}" moment_2="cdn" -->
<dmx-serverconnect id="serverconnect1"></dmx-serverconnect>

<meta name="ac:route" content="/Using-the-Date-Range-Picker-with-Insert-and-Update-Record">
<main>
    <div class="container">
        <div class="row">
            <div class="col mt-2">
                <input id="date1" name="date1" is="dmx-date-range-picker" timepicker="" use24hours="true" minutes-increment="15">

                <form id="form1">
                    <div class="form-group md-3 mt-4 bg-primary text-light style11"> <label for="input1" class="form-label">Some text</label>
                        <small id="input1_help" class="form-text text-muted style12">Your input is very valuable.</small><input id="date2" name="date2" is="dmx-date-range-picker" timepicker="" use24hours="true" minutes-increment="15" class="style10" dmx-bind:startdate="'ss'">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>