.style1 {
    margin-right: 27px
}
.style2 {
    margin-right: 27px
}
.style1:hover {
    background-color: #fff;
    font-weight: bold;
    border-width: 4px;
    border-left-color: #6c757d
}
a.nav-item.nav-link.active.style1 { 
}
.style3 {
    border-width: 0px;
    margin-top: -18px;
    margin-bottom: -16px;
    padding-bottom: 19px
}
.:active {
    color: #ffc107
}
.style4 { 
}
.style5 {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    padding-left: 6px
}
.style6 {
    font-size: 20px;
    line-height: 20px
}
#swiper2 {
    height: 100vh 
}
div.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 
}
.style7 {
    background-image: url("../assets/images/istockphoto-936520132-612x612.jpeg")
}