.style1 {
    margin-right: 27px
}
.style2 {
    margin-right: 27px
}
.style1:hover {
    background-color: #fff;
    font-weight: bold;
    border-width: 4px;
    border-left-color: #6c757d
}
a.nav-item.nav-link.active.style1 { 
}
.style3 {
    border-width: 0px;
    margin-top: -18px;
    margin-bottom: -16px;
    padding-bottom: 19px
}
.:active {
    color: #ffc107
}
.style4 { 
}
.style5 {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    padding-left: 6px
}
.style6 {
    font-size: 20px;
    line-height: 20px
}
#swiper2 {
    height: 100vh 
}
div.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 
}
.style7 {
    background-image: url("../assets/images/istockphoto-936520132-612x612.jpeg")
}
@media (min-width: 1400px) {
.style8 {
        background-color: #fff
    }
}
.style9 {
    font-weight: bold;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-timing-function: cubic-bezier(0.47, 0.26, 0.27, 0.69)
}
.style9:hover {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-transition-timing-function: cubic-bezier(0.29, 0.97, 0.6, 0.97);
            transition-timing-function: cubic-bezier(0.29, 0.97, 0.6, 0.97)
}
.style10 {
    background-color: #fd7e14;
    border-width: 1px
}
.style11 {
    margin-left: 0px;
    padding: 7px 18px
}
.style12 {
    margin-left: 12px
}
.style13 {
    margin-left: 407px
}
.style14 {
    margin-left: 24px;
    padding-bottom: 11px;
    padding-left: 16px;
    width: 50px;
    height: 80px
}
.style15 {
    border-width: 0px;
    margin-top: 0px
}
.style15:hover {
    text-decoration: underline
}
.style16 {
}
.style16:hover {
    text-decoration: underline
}
.:hover {
    text-decoration: underline;
    background-color: #f2460d
}
.style17 {
    margin-right: 7px;
    padding-right: 50px
}
a.navbar-brand { 
}
.style18 { 
}
.style19 {
    color: #2469a6
}
.style20 {
    font-family: Verdana, Geneva, sans-serif;
    letter-spacing: 0em;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: #dee2e6;
    font-size: 26px;
    width: 250px;
    margin-bottom: 0px;
    border-top-width: 26px;
    border-bottom-width: 26px;
    border-right-width: 38px;
    border-left-color: #6f42c1;
    color: #000
}
.style21 {
    text-align: center;
    left: 230px
}
.style22 {
    position: relative;
    left: 17px
}
.style23 {
    left: 176px;
    height: 75%;
    max-height: 20%;
    position: relative
}
.style24 {
    position: relative;
    left: 370px;
    border-width: 6px;
    border-color: #131942
}
.style25 {
    position: relative
}
.style26 {
    margin-bottom: 23px
}
.style27 {
    background-color: #8ac442;
    margin-bottom: -27px
}
.style28 {
    position: relative;
    left: 468px;
    margin-bottom: 4px
}
.style29 {
    -webkit-transition-timing-function: cubic-bezier(0.43, 0.37, 0.29, 0.67);
            transition-timing-function: cubic-bezier(0.43, 0.37, 0.29, 0.67);
    -webkit-transition-delay: 20s;
            transition-delay: 20s;
            border-width: 6px;
            border-color: #333;
            color: #ddd
}
.style30 {
    border-width: 7px;
    border-color: #333;
    background-color: #495057
}
.style31 {
    position: relative;
    left: 255px
}
.style32 {
    padding-right: 0px;
    max-height: 103px
}
.style33 { 
}
.style34 {
    padding-left: 0px;
    padding-right: 0px
}
.style35 {
    padding-left: 0px;
    padding-right: 0px 
}
.style36 {
    border: 4px solid rgba(111, 66, 193, 0.73)
}
.wappler-temp { 
}
.style37 {
    color: #f2460d
}
.style38 {
    background-color: #e5cfff
}
a.nav-item.nav-link.text-light { 
}
.style39 {
    background-color: #ffc107
}
.style40 {
    background-color: #ffc107
}
.style40:hover {
    background-color: #ffc107
}
.style41 {
}
.style41:hover {
    background-color: #f2460d
}
.style42 {
    background-color: #d4bfec;
    padding: 3px 12px
}
.style20:hover {
    background-color: #d6d8da;
    color: rgba(0, 0, 0, 0.91)
}
.style43 { 
}
.style43:hover {
    color: #3595f6
}
.style44 {
    background-color: #d39494;
    padding: 2px 4px;
    color: #fff
}
.style45 {
    position: absolute;
    top: 4012px;
    color: #f8f9fa;
    right: 8px;
    left: 316px
}
.style46 { 
}
.style47 {
    -webkit-transition-timing-function: cubic-bezier(0.65, 0.53, 0.25, 1);
            transition-timing-function: cubic-bezier(0.65, 0.53, 0.25, 1);
            border: 3px double #f93;
            margin-bottom: -3px;
            padding-bottom: 2px
}
.style48 {
    color: #333;
    background-color: #f93;
    margin-top: 3px;
    border: 3px solid #09168c
}
.style47:hover {
    border-color: #d63384;
    border-style: double;
    background-color: rgba(127, 15, 255, 0.72);
    color: #000
}
.style49 {
    border-width: medium 1px 1px;
    border-top: 1px solid #000
}
.style50 {
    border-style: solid;
    -webkit-transition-delay: 10s;
            transition-delay: 10s;
    -webkit-transition-duration: 10s;
            transition-duration: 10s;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.67, 0.34, 0.82);
            transition-timing-function: cubic-bezier(0.25, 0.67, 0.34, 0.82)
}
.style51 {
    margin-bottom: 0px;
    padding-bottom: 0px
}
.style52 {
    background-color: #db0c0c;
    color: #fff
}
.style53 { 
}