<!-- Wappler include head-page="layouts/octa" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Dynamic_Sortable_Table" appConnect="local" components="{dmxStateManagement:{},dmxBootstrap5TableGenerator:{},dmxAnimateCSS:{},dmxNotifications:{},dmxBrowser:{}}" -->
<div is="dmx-browser" id="browser1"></div>
<dmx-notifications id="notifies1" show-animation="flipInX"></dmx-notifications>
<dmx-notifications id="notifies2" show-animation="flipInX" offset-y="80" opacity="0"></dmx-notifications>
<dmx-notifications id="notifies3" show-animation="flipInX" offset-y="80"></dmx-notifications>
<dmx-toggle id="toggle1"></dmx-toggle>
<dmx-serverconnect id="serverconnect2" url="/api/unibyidi" dmx-param:id="query2.data.id" dmx-param:sort=""></dmx-serverconnect>
<dmx-query-manager id="query2"></dmx-query-manager>
<meta name="ac:route" content="/Dynamic_Sortable_Table">
<dmx-query-manager id="query1"></dmx-query-manager>
<dmx-serverconnect id="serverconnect1" url="/api/octarecords" dmx-param:sort="query1.data.sort" dmx-param:dir="query1.data.dir"></dmx-serverconnect>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="sorting" dmx-on:click="query1.set('sort','id');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='id' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='id' && query1.data.dir == 'desc'">Id</th>
                                <th class="sorting" dmx-on:click="query1.set('sort','name');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='name' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='name' && query1.data.dir == 'desc'">Name</th>
                                <th class="sorting" dmx-on:click="query1.set('sort','age');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='age' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='age' && query1.data.dir == 'desc'">Age</th>
                                <th class="sorting" dmx-on:click="query1.set('sort','email');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='email' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='email' && query1.data.dir == 'desc'">Email</th>
                                <th class="sorting" dmx-on:click="query1.set('sort','null');query1.set('dir',query1.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="query1.data.sort=='null' && query1.data.dir == 'asc'" dmx-class:sorting_desc="query1.data.sort=='null' && query1.data.dir == 'desc'">Actions</th>
                            </tr>
                        </thead>
                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="serverconnect1.data.query" id="tableRepeat2" dmx-state="query1" dmx-sort="sort" dmx-order="dir">
                            <tr>
                                <td dmx-text="id"></td>
                                <td dmx-text="name"></td>
                                <td dmx-text="age"></td>
                                <td dmx-text="email"></td>
                                <td>
                                    <form is="dmx-serverconnect-form" id="form1" method="post" action="/api/delete" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="serverconnect1.load({},true)">
                                        <button id="btn1" class="btn btn-success" type="submit">Button</button>
                                        <button id="btn2" class="btn bg-warning text-dark" dmx-on:click="toggle1.check()">Edit</button>
                                        <input id="deleted" name="deleted" type="hidden" class="form-control" dmx-bind:value="serverconnect1.data.query[0].id">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form is="dmx-serverconnect-form" id="serverconnectform1" method="post" action="/api/updateunibyid" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-populate="serverconnect2.data.query" dmx-animate-enter="fadeInDown" dmx-show="toggle1.checked" dmx-on:submit="toggle1.uncheck()">

                <div class="form-group mb-3 row">
                    <label for="inp_id" class="col-sm-2 col-form-label">Id</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="inp_id" name="id" dmx-bind:value="serverconnect2.data.query[0].id" aria-describedby="inp_id_help" placeholder="Enter Id">
                    </div>
                </div>
                <div class="form-group mb-3 row">
                    <label for="inp_name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inp_name" name="name" dmx-bind:value="serverconnect2.data.query[0].name" aria-describedby="inp_name_help" placeholder="Enter Name">
                    </div>
                </div>
                <div class="form-group mb-3 row">
                    <label for="inp_age" class="col-sm-2 col-form-label">Age</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="inp_age" name="age" dmx-bind:value="serverconnect2.data.query[0].age" aria-describedby="inp_age_help" placeholder="Enter Age">
                    </div>
                </div>
                <div class="form-group mb-3 row">
                    <label for="inp_email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inp_email" name="email" dmx-bind:value="serverconnect2.data.query[0].email" aria-describedby="inp_email_help" placeholder="Enter Email">
                    </div>
                </div>
                <div class="form-group mb-3 row">
                    <div class="col-sm-2">&nbsp;</div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" dmx-bind:value="serverconnect2.data.query[0].Save" dmx-bind:disabled="state.executing" dmx-on:click="notifies1.success('Details Updated!');notifies3.info('Please Reload the page!')">Save <span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>